{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block navbar %}
<div class="container navbar navbar-fixed-top">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <span class="glyphicon glyphicon-home" aria-hidden="true">
                    </span>
                    <span class="mx-2">
                        App para subir archivos en lote
                    </span>
                </a>
            </div>
        </div>
    </nav>
</div>
{% endblock %}

{% block content %}
<div class="container">

<h1>Subir archivos en lote</h1>

    <p class="help-block">Aplicación que permite carga masiva de datos</p>
    
    <form action="/cargar" method="POST">
        <div class="form-group">
            <label for="exampleInputFile">Selecciona el archivo a enviar</label>
            <input class="align-center" type="file" name="archivo">
        </div>
        <button type="submit" class="btn btn-success">Enviar</button>
    </form>

<hr>
<table class="table table-stripeed table-hover">
    <thead class="bg-primary">
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Nacionalidad</th>
        <th>Fecha Contrato</th>
        <th>Sexo</th>
    </thead>
    <tbody>
        {% for row in listado %}
        <tr>
            <td>{{ row.1 }}</td>
            <td>{{ row.2}}</td>
            <td>{{ row.3}}</td>
            <td>{{ row.4}}</td>
            <td>{{ row.5}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}